TELEGRAM_BOT_TOKEN=6653784804:AAERhdcErWtm98dFE8qT5iSTuHqIsNXQhjY
TRANSMISSION_HOST=192.168.1.1
TRANSMISSION_PORT=8190
TRANSMISSION_USERNAME=torr
TRANSMISSION_PASSWORD=h3YTeVcPfyx5NXH
TRANSMISSION_PATH=/transmission/rpc

